<template>
    <v-container justify-center>
        <v-layout justify-center row>
            <v-flex xs6>
                <v-text-field
                        hint="Be as clear as possible!"
                        label="Please write your note here"
                        name="input-7-1"
                        outline
                        v-model="text"
                ></v-text-field>
            </v-flex>
            <v-flex xs2>
                <v-btn @click="addNote" color="success" large>Add Note</v-btn>
            </v-flex>
        </v-layout>
        <v-layout justify-center v-if="notes.length">
            <v-flex style="margin-left: -20px; padding-right: 50px;" xs8>
                <v-list two-line>
                    <template v-for="(item, index) in notes">
                        <v-list-tile :key="item.title">
                            <v-list-tile-action>
                                <!-- <v-btn flat icon color="red lighten-2" style="margin-top: 19px; margin-left: 1px;">
                                  <v-icon>delete</v-icon>
                                </v-btn>-->
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="item.content"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.created"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider :inset="item.inset" :key="index"></v-divider>
                    </template>
                </v-list>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "FlightNotes"
    };
</script>


<script>
    import addFlightNote from "../../api/add-flight-note";
    import fetchFlightNotes from "../../api/fetch-flight-notes";

    export default {
        name: "Notes",
        props: {
            flightId: Number
        },
        data() {
            return {
                text: "",
                notes: [],
                currNoteId: 0
            };
        },
        async mounted() {
            await this.refreshNotes();
        },
        methods: {
            async refreshNotes() {
                this.notes = await fetchFlightNotes(this.flightId);
            },
            async addNote() {
                if (this.text) {
                    await addFlightNote(this.flightId, this.text);
                    await this.refreshNotes();
                    this.text = "";
                }
            }
        },
        watch: {
            async flightId(val) {
                if (val)
                    await this.refreshNotes()
            }
        }
    };
</script>

