<template>
  <!-- <div class="new-flight-view">
    <new-flight></new-flight>
  </div>-->
  <v-layout column wrap>
    <v-flex style="margin-bottom: 20px;">
      <v-card>
          <v-card-title
                  class="headline font-weight-regular blue-grey white--text"
          >Flight ID {{ this.$route.params.flightId }}
          </v-card-title>
        <v-card-text>
          <!-- <v-subheader class="pa-0">Where do you live?</v-subheader> -->
          <v-layout>
            <auto-complete-input
              @selected="handleValueSelection"
              :name="'Flight Type'"
              :model="'flightType'"
              :options="flightTypes.map(x => x.__str)"
              :icon="'details'"
              :value="selected.flightType"
            ></auto-complete-input>
            <auto-complete-input
              @selected="handleValueSelection"
              :name="'Glider'"
              :model="'glider'"
              :options="gliders.map(x => x.__str)"
              :icon="'airplanemode_active'"
              :value="selected.glider"
            ></auto-complete-input>
          </v-layout>
          <v-layout>
            <auto-complete-input
                    :icon="'person'"
                    :model="'pilot1'"
                    :name="'טייס 1'"
                    :options="gliderPilots.map(x => x.__str)"
                    :value="selected.pilot1"
                    @selected="handleValueSelection"
            ></auto-complete-input>
            <auto-complete-input
                    :icon="'person'"
                    :model="'pilot2'"
                    :name="'טייס 2'"
                    :options="gliderPilots.map(x => x.__str)"
                    :value="selected.pilot2"
                    @selected="handleValueSelection"
            ></auto-complete-input>
          </v-layout>
          <v-layout>
            <auto-complete-input
                    :icon="'person'"
                    :model="'towPilot'"
                    :name="'טייס גורר'"
                    :options="towPilots.map(x => x.__str)"
                    :value="selected.towPilot"
                    @selected="handleValueSelection"
            ></auto-complete-input>
            <auto-complete-input
              @selected="handleValueSelection"
              :name="'מטוס גורר'"
              :model="'towAirplane'"
              :options="towAirplanes.map(x => x.__str)"
              :icon="'airplanemode_active'"
              :value="selected.towAirplane"
            ></auto-complete-input>
          </v-layout>
          <v-layout>
            <v-flex>
              <!-- <v-btn color="error">Cancel</v-btn> -->
              <v-btn color="success" @click="save">Save Changes</v-btn>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex>
      <v-card-title class="headline font-weight-regular blue-grey white--text">Comments</v-card-title>
        <flight-notes :flightId="flight.__id"></flight-notes>
    </v-flex>
  </v-layout>
</template>

<script>
    import AutoCompleteInput from "./flight/AutoCompleteInput";
    import FlightNotes from "./flight/FlightNotes";

    import fetchAvailableGliderPilots from "../api/fetch-available-glider-pilots";
    import fetchAvailableTowPilots from "../api/fetch-available-tow-pilots";
    import fetchAvailableTowAirplanes from "../api/fetch-available-tow-airplanes";
    import fetchAvailableGliders from "../api/fetch-available-gliders";
    import fetchFlightTypes from "../api/fetch-flight-types";
    import editFlight from "../api/edit-flight";
    import fetchFlight from "../api/fetch-flight";

    export default {
  name: "EditFlight",
        components: {
            AutoCompleteInput,
            FlightNotes
        },
  data: () => ({
    flight: {},
    gliderPilots: [],
    towPilots: [],
    towAirplanes: [],
    gliders: [],
    flightTypes: [],
    selected: {
      pilot1: null,
      pilot2: null,
      flightType: null,
      glider: null,
      towAirplane: null,
      towPilot: null,
      takeOffTime: null
    }
  }),
  async mounted() {
    let loader = this.$loading.show();
    this.flight = await fetchFlight(this.$route.params.flightId);

      let actionId = parseInt(this.$store.getters.action.__id);

    await Promise.all([
      (async () => {
        let { records: gliderPilots } = await fetchAvailableGliderPilots(
            actionId,
            false
        );
        this.gliderPilots = gliderPilots;
      })(),
      (async () => {
          let {records: towPilots} = await fetchAvailableTowPilots(
              actionId,
              false
          );
        this.towPilots = towPilots;
      })(),
      (async () => {
        let { records: towAirplanes } = await fetchAvailableTowAirplanes(
            actionId,
            false
        );
        this.towAirplanes = towAirplanes;
      })(),
      (async () => {
        let { records: gliders } = await fetchAvailableGliders(actionId, false);
        this.gliders = gliders;
      })(),
      (async () => {
        let flightTypes = await fetchFlightTypes(actionId, false);
        this.flightTypes = flightTypes;
      })()
    ]);

      await this.assignSelections();

    loader.hide();
  },
  methods: {
    assignSelections() {
        let pilot1 = this.gliderPilots.find(
            item => item.mempkcode === this.flight.pilot1nameidsc
        );
        this.selected.pilot1 = pilot1 ? pilot1.__str : null;
        let pilot2 = this.gliderPilots.find(
            item => item.mempkcode === this.flight.pilot2nameidsc
        );
        this.selected.pilot2 = pilot2 ? pilot2.__str : null;
        let towPilot = this.towPilots.find(
            item => item.mempkcode === this.flight.dragpilotidsc
        );
        this.selected.towPilot = towPilot ? towPilot.__str : null;
        let glider = this.gliders.find(
            item => item.gpkcode === this.flight.radiocallidsc
        );
        this.selected.glider = glider ? glider.__str : null;
        let towAirplane = this.towAirplanes.find(
            item => item.gpkcode === this.flight.dragplaneradiocallidsc
        );
        this.selected.towAirplane = towAirplane ? towAirplane.__str : null;
        let flightType = this.flightTypes.find(
            item => item.flighttypecode === this.flight.flighttypeidsc
        );
        this.selected.flightType = flightType ? flightType.__str : null;
        this.selected.takeOffTime = this.flight.takeofftime;
    },
    handleValueSelection({ model, val }) {
      this.selected[model] = val;
    },
    async save() {
      let loader = this.$loading.show();
      await editFlight(this.flight.__id, {
        pilot1Id: this.pilot1().mempkcode,
        pilot2Id: this.pilot2().mempkcode,
        dragPilotId: this.towPilot().mempkcode,
        gliderId: this.glider().gpkcode,
        dragPlaneId: this.towAirplane().gpkcode,
          flightTypeId: this.flightType().flighttypecode
        // takeOffTime: new Date(),
      });
      loader.hide();
      this.$router.push("/ongoing");
    },
    pilot1() {
      if (this.selected.pilot1) {
        return this.gliderPilots.find(x => x.__str === this.selected.pilot1);
      }
      return null;
    },
    pilot2() {
      if (this.selected.pilot2) {
        return this.gliderPilots.find(x => x.__str === this.selected.pilot2);
      }
      return null;
    },
    towPilot() {
      if (this.selected.towPilot) {
        return this.towPilots.find(x => x.__str === this.selected.towPilot);
      }
      return null;
    },
    towAirplane() {
      if (this.selected.towAirplane) {
        return this.towAirplanes.find(
          x => x.__str === this.selected.towAirplane
        );
      }
      return null;
    },
    glider() {
      if (this.selected.glider) {
        return this.gliders.find(x => x.__str === this.selected.glider);
      }
      return null;
    },
    flightType() {
      if (this.selected.flightType) {
        return this.flightTypes.find(x => x.__str === this.selected.flightType);
      }
      return null;
    }
  },
  computed: {
    selectedPilot1() {
      return this.pilot1();
    },
    selectedPilot2() {
      return this.pilot2();
    },
    selectedTowPilot() {
      return this.towPilot();
    },
    selectedTowAirplane() {
      return this.towAirplane();
    },
    selectedGlider() {
      return this.glider();
    },
    selectedFlightType() {
      return this.flightType();
    }
  }
};
</script>
