<template>
  <div class="menubar">
    <div class="btn-group" role="group" aria-label="Menu bar">
      <router-link to="/action" :class="buttonClass('/action')">
        הגדרת פעולה
        <i class="fa fa-cog" aria-hidden="true"></i>
      </router-link>
      <router-link to="/flight/new" :class="buttonClass('/flight/new')">
        טיסה חדשה
        <i class="fa fa-list" aria-hidden="true"></i>
      </router-link>
      <router-link to="/ongoing" :class="buttonClass('/ongoing')">
        טיסות באוויר
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </router-link>
      <router-link to="/summary" :class="buttonClass('/summary')">
        תקציר הפעולה
        <i class="fas fa-chart-line" aria-hidden="true"></i>
      </router-link>
      <router-link to="/notes" :class="buttonClass('/notes')">
        הערות
        <i class="fas fa-comments" aria-hidden="true"></i>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MenuBar',
  methods: {
    buttonClass(path) {
      return {
        btn: true,
        'selected': this.$route.path === path,
        'not-selected': this.$route.path !== path
      };
    }
  }
};
</script>

<style>
.menubar {
  margin-bottom: 16px;
}

.selected {
  background: #BBDEFB;
}

.not-selected {
  background: #E3F2FD;
}
</style>
