<template>
    <!-- <div class="new-flight-view">
      <new-flight></new-flight>
    </div>-->
    <v-layout column wrap>
        <v-flex style="margin-bottom: 20px;">
            <v-card-title class="headline font-weight-regular blue lighten-3 white--text">צור טיסה חדשה</v-card-title>
            <v-card-text>
                <!-- <v-subheader class="pa-0">Where do you live?</v-subheader> -->
                <v-layout>
                    <auto-complete-input
                            :icon="'details'"
                            :model="'flightType'"
                            :name="'סוג הטיסה'"
                            :options="flightTypes.map(x => x.__str)"
                            @selected="handleValueSelection"
                    ></auto-complete-input>
                    <auto-complete-input
                            :icon="'airplanemode_active'"
                            :model="'glider'"
                            :name="'דאון'"
                            :options="gliders.map(x => x.__str)"
                            @selected="handleValueSelection"
                    ></auto-complete-input>
                </v-layout>
                <v-layout>
                    <auto-complete-input
                            :icon="'person'"
                            :model="'pilot1'"
                            :name="'טייס 1'"
                            :options="gliderPilots.map(x => x.__str)"
                            @selected="handleValueSelection"
                    ></auto-complete-input>
                    <auto-complete-input
                            :icon="'person'"
                            :model="'pilot2'"
                            :name="'טייס 2'"
                            :options="gliderPilots.map(x => x.__str)"
                            @selected="handleValueSelection"
                    ></auto-complete-input>
                </v-layout>
                <v-layout>
                    <auto-complete-input
                            :icon="'person'"
                            :model="'towPilot'"
                            :name="'טייס גורר'"
                            :options="towPilots.map(x => x.__str)"
                            @selected="handleValueSelection"
                    ></auto-complete-input>
                    <auto-complete-input
                            :icon="'airplanemode_active'"
                            :model="'towAirplane'"
                            :name="'מטוס גורר'"
                            :options="towAirplanes.map(x => x.__str)"
                            @selected="handleValueSelection"
                    ></auto-complete-input>
                </v-layout>
                <v-layout>
                    <v-flex>
                        <!-- <v-btn color="error">Cancel</v-btn> -->
                        <v-btn @click="dispatch" color="success" v-if="dispatchEnabled">שגר טיסה</v-btn>
                        <v-btn color="success" disabled v-else>שגר טיסה</v-btn>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-flex>
    </v-layout>
</template>

<script>
    import AutoCompleteInput from "./flight/AutoCompleteInput";

    import fetchAvailableGliderPilots from "../api/fetch-available-glider-pilots";
    import fetchAvailableTowPilots from "../api/fetch-available-tow-pilots";
    import fetchAvailableTowAirplanes from "../api/fetch-available-tow-airplanes";
    import fetchAvailableGliders from "../api/fetch-available-gliders";
    import fetchFlightTypes from "../api/fetch-flight-types";
    import dispatchFlight from "../api/dispatch-flight";

    export default {
        name: "NewFlight",
        components: {
            AutoCompleteInput
        },
        data: () => ({
            gliderPilots: [],
            towPilots: [],
            towAirplanes: [],
            gliders: [],
            flightTypes: [],
            selected: {
                pilot1: null,
                pilot2: null,
                flightType: null,
                glider: null,
                towAirplane: null,
                towPilot: null
            }
        }),
        async mounted() {
            let loader = this.$loading.show();
            let actionId = parseInt(this.$store.getters.action.__id);

            await Promise.all([
                (async () => {
                    let {records: gliderPilots} = await fetchAvailableGliderPilots(
                        actionId
                    );
                    this.gliderPilots = gliderPilots;
                })(),
                (async () => {
                    let {records: towPilots} = await fetchAvailableTowPilots(actionId);
                    this.towPilots = towPilots;
                })(),
                (async () => {
                    let {records: towAirplanes} = await fetchAvailableTowAirplanes(
                        actionId
                    );
                    this.towAirplanes = towAirplanes;
                })(),
                (async () => {
                    let {records: gliders} = await fetchAvailableGliders(actionId);
                    this.gliders = gliders;
                })(),
                (async () => {
                    let flightTypes = await fetchFlightTypes(actionId);
                    this.flightTypes = flightTypes;
                })()
            ]);

            loader.hide();
        },
        methods: {
            handleValueSelection({model, val}) {
                this.selected[model] = val;
            },
            async dispatch() {
                let loader = this.$loading.show();
                await dispatchFlight({
                    pilot1Id: this.pilot1() ? this.pilot1().mempkcode : undefined,
                    pilot2Id: this.pilot2() ? this.pilot2().mempkcode : undefined,
                    dragPilotId: this.towPilot() ? this.towPilot().mempkcode : undefined,
                    gliderId: this.glider() ? this.glider().gpkcode : undefined,
                    dragPlaneId: this.towAirplane()
                        ? this.towAirplane().gpkcode
                        : undefined,
                    flightTypeId: this.flightType()
                        ? this.flightType().flighttypecode
                        : undefined,
                    takeOffTime: new Date(),
                    actionId: parseInt(this.$store.getters.action.__id)
                });
                loader.hide();
                this.$router.push("/ongoing");
            },
            pilot1() {
                if (this.selected.pilot1) {
                    return this.gliderPilots.find(x => x.__str === this.selected.pilot1);
                }
                return null;
            },
            pilot2() {
                if (this.selected.pilot2) {
                    return this.gliderPilots.find(x => x.__str === this.selected.pilot2);
                }
                return null;
            },
            towPilot() {
                if (this.selected.towPilot) {
                    return this.towPilots.find(x => x.__str === this.selected.towPilot);
                }
                return null;
            },
            towAirplane() {
                if (this.selected.towAirplane) {
                    return this.towAirplanes.find(
                        x => x.__str === this.selected.towAirplane
                    );
                }
                return null;
            },
            glider() {
                if (this.selected.glider) {
                    return this.gliders.find(x => x.__str === this.selected.glider);
                }
                return null;
            },
            flightType() {
                if (this.selected.flightType) {
                    return this.flightTypes.find(x => x.__str === this.selected.flightType);
                }
                return null;
            }
        },
        computed: {
            selectedPilot1() {
                return this.pilot1();
            },
            selectedPilot2() {
                return this.pilot2();
            },
            selectedTowPilot() {
                return this.towPilot();
            },
            selectedTowAirplane() {
                return this.towAirplane();
            },
            selectedGlider() {
                return this.glider();
            },
            selectedFlightType() {
                return this.flightType();
            },
            dispatchEnabled() {
                return (
                    this.pilot1() &&
                    this.glider() &&
                    this.flightType() &&
                    this.towPilot() &&
                    this.towAirplane()
                );
            }
        }
    };
</script>
