<template>
  <!-- <div class="new-flight-view">
    <new-flight></new-flight>
  </div>-->
    <v-layout column>
    <v-flex style="margin-bottom: 20px;">
        <v-card-title class="headline font-weight-regular blue lighten-3 white--text">צור טיסה חדשה</v-card-title>
        <v-card-text>
            <!-- <v-subheader class="pa-0">Where do you live?</v-subheader> -->
            <v-form @submit.prevent="handleValueSelection" v-if="selectionInputConfig">
                <v-layout column>
                    <v-flex>
                        <auto-complete-input
                                :icon="selectionInputConfig.icon"
                                :model="selectionInputConfig.model"
                                :name="selectionInputConfig.name"
                                :options="selectionInputConfig.options"
                                ref="selection"
                        ></auto-complete-input>
                        <v-switch
                                :label="soloFlight ? 'זוהי טיסת סולו' : 'זוהי אינה טיסת סולו'"
                                v-model="soloFlight"
                        ></v-switch>
                    </v-flex>
                    <v-flex>
                        <v-btn class="success" type="submit">בחר</v-btn>
                    </v-flex>
                </v-layout>
            </v-form>
            <v-btn @click="dispatch" color="success" v-else>שגר טיסה</v-btn>
        </v-card-text>
    </v-flex>
        <v-flex>
            <v-layout>
                <v-flex>
                    <v-btn
                            :disabled="glider ? false: true"
                            @click="selected.glider = null"
                    >דאון: {{ glider && glider.__str }}
                    </v-btn>
                    <v-btn
                            :disabled="pilot1 ? false: true"
                            @click="selected.pilot1 = null"
                    >טייס 1: {{ pilot1 && pilot1.__str }}
                    </v-btn>
                    <v-btn
                            :disabled="pilot2 ? false: true"
                            @click="selected.pilot2 = null"
                            v-if="!soloFlight"
                    >טייס 2: {{ pilot2 && pilot2.__str }}
                    </v-btn>
                    <v-btn
                            :disabled="flightType ? false: true"
                            @click="selected.flightType = null"
                    >סוג הטיסה: {{ flightType && flightType.__str }}
                    </v-btn>
                    <v-btn
                            :disabled="towAirplane ? false: true"
                            @click="selected.towAirplane = null"
                    >מטוס גורר: {{ towAirplane && towAirplane.__str }}
                    </v-btn>
                    <v-btn
                            :disabled="towPilot ? false: true"
                            @click="selected.towPilot = null"
                    >טייס גורר: {{ towPilot && towPilot.__str }}
                    </v-btn>
                </v-flex>
            </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
    import AutoCompleteInput from "./flight/AutoCompleteInput";

    import fetchAvailableGliderPilots from "../api/fetch-available-glider-pilots";
    import fetchAvailableTowPilots from "../api/fetch-available-tow-pilots";
    import fetchAvailableTowAirplanes from "../api/fetch-available-tow-airplanes";
    import fetchAvailableGliders from "../api/fetch-available-gliders";
    import fetchFlightTypes from "../api/fetch-flight-types";
    import dispatchFlight from "../api/dispatch-flight";

    export default {
  name: "NewFlight",
  components: {
    AutoCompleteInput
  },
  data: () => ({
      soloFlight: false,
    gliderPilots: [],
    towPilots: [],
    towAirplanes: [],
    gliders: [],
    flightTypes: [],
    selected: {
      pilot1: null,
      pilot2: null,
      flightType: null,
      glider: null,
      towAirplane: null,
      towPilot: null
    }
  }),
  async mounted() {
    let loader = this.$loading.show();
    let actionId = parseInt(this.$store.getters.action.__id);

    await Promise.all([
      (async () => {
        let { records: gliderPilots } = await fetchAvailableGliderPilots(
          actionId
        );
        this.gliderPilots = gliderPilots;
      })(),
      (async () => {
        let { records: towPilots } = await fetchAvailableTowPilots(actionId);
        this.towPilots = towPilots;
      })(),
      (async () => {
        let { records: towAirplanes } = await fetchAvailableTowAirplanes(
          actionId
        );
        this.towAirplanes = towAirplanes;
      })(),
      (async () => {
        let { records: gliders } = await fetchAvailableGliders(actionId);
        this.gliders = gliders;
      })(),
      (async () => {
        let flightTypes = await fetchFlightTypes(actionId);
        this.flightTypes = flightTypes;
      })()
    ]);

    loader.hide();
  },
  methods: {
      handleValueSelection() {
          const {model, selected: val} = this.$refs.selection;
          this.$refs.selection.selected = "";
      this.selected[model] = val;
    },
    async dispatch() {
      let loader = this.$loading.show();
      await dispatchFlight({
          pilot1Id: this.pilot1 ? this.pilot1.mempkcode : undefined,
          pilot2Id: this.pilot2 ? this.pilot2.mempkcode : undefined,
          dragPilotId: this.towPilot ? this.towPilot.mempkcode : undefined,
          gliderId: this.glider ? this.glider.gpkcode : undefined,
          dragPlaneId: this.towAirplane ? this.towAirplane.gpkcode : undefined,
          flightTypeId: this.flightType
              ? this.flightType.flighttypecode
          : undefined,
        takeOffTime: new Date(),
        actionId: parseInt(this.$store.getters.action.__id)
      });
      loader.hide();
      this.$router.push("/ongoing");
    }
  },
        computed: {
            selectionInputConfig() {
                if (!this.glider) {
                    return {
                        icon: "airplanemode_active",
                        model: "glider",
                        name: "דאון",
                        options: this.gliders.map(x => x.__str)
                    };
                }

                if (!this.pilot1) {
                    return {
                        icon: "person",
                        model: "pilot1",
                        name: "טייס 1",
                        options: this.gliderPilots.map(x => x.__str)
                    };
                }

                if (!this.pilot2 && !this.soloFlight) {
                    return {
                        icon: "person",
                        model: "pilot2",
                        name: "טייס 2",
                        options: this.gliderPilots.map(x => x.__str)
                    };
                }

                if (!this.flightType) {
                    return {
                        icon: "details",
                        model: "flightType",
                        name: "סוג הטיסה",
                        options: this.flightTypes.map(x => x.__str)
                    };
                }

                if (!this.towAirplane) {
                    return {
                        icon: "airplanemode_active",
                        model: "towAirplane",
                        name: "מטוס גורר",
                        options: this.towAirplanes.map(x => x.__str)
                    };
                }

                if (!this.towPilot) {
                    return {
                        icon: "person",
                        model: "towPilot",
                        name: "טייס גורר",
                        options: this.towPilots.map(x => x.__str)
                    };
                }

                return null;
            },
            pilot1() {
                if (this.selected.pilot1) {
                    return this.gliderPilots.find(x => x.__str === this.selected.pilot1);
                }
                return null;
            },
            pilot2() {
                if (this.selected.pilot2) {
                    return this.gliderPilots.find(x => x.__str === this.selected.pilot2);
                }
                return null;
            },
            towPilot() {
                if (this.selected.towPilot) {
                    return this.towPilots.find(x => x.__str === this.selected.towPilot);
                }
                return null;
            },
            towAirplane() {
                if (this.selected.towAirplane) {
                    return this.towAirplanes.find(
                        x => x.__str === this.selected.towAirplane
                    );
                }
                return null;
            },
            glider() {
                if (this.selected.glider) {
                    return this.gliders.find(x => x.__str === this.selected.glider);
                }
                return null;
            },
            flightType() {
                if (this.selected.flightType) {
                    return this.flightTypes.find(x => x.__str === this.selected.flightType);
                }
                return null;
            }
        },
        watch: {
            soloFlight(isSolo) {
                if (isSolo) this.pilot2 = null;
            }
        }
};
</script>
