<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              <h3>{{ title }}</h3>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <ul id="options-ul">
                <li
                  v-for="option in options"
                  :key="option.__id"
                ><selection-option :__id="option.__id" :text="option.__str" @selected="selected" /></li>
              </ul>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button 
                class="modal-default-button btn btn-dark" 
                id="closeButton" @click="$emit('close')"
              >Cancel</button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import SelectionOption from "./SelectionOption"

export default {
  name: 'SelectionModal',
  props: ['title', 'options'],
  components: {
    'selection-option': SelectionOption
  },
  methods: {
    selected(optionId) {
      this.$emit('selected', optionId)
    }
  }
};
</script>

<style>

.modal-container {
  color: black;
  text-align: center;
}

.selection-item:hover {
  cursor: pointer;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50vh;
  height: 50vh;
  margin: 0px auto;
  padding: 30px;
  background-color: #5B6977;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  overflow-y: hidden;
}

.modal-header h3 {
  margin: auto;
  margin-top: 0;
  color: white;
}

.modal-body {
  margin: auto;
  overflow-y: scroll;
  height: 34vh;
  color: white;
}

.modal-default-button {
  float: right;
}

#closeButton {
  width: 100%;
}

#closeButton:hover {
  cursor: pointer;
}

.modal-footer {
  padding: 0;
}

#options-ul {
  list-style: none;
  height: 30vh;
  padding: 0;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>

