<template>
  <v-card>
    <v-card-title class="blue lighten-3" style="font-size: 2em;">{{ title }}</v-card-title>
    <div class="card-body">
      <draggable v-model="currentFlights" :options="{ group: 'default' }" :sortable="true">
        <v-layout row wrap>
          <v-flex v-for="flight in sortedFlights" :key="flight.__id" xs6 sm6 md6>
            <state-lane-flight-item :flight="flight" :__state="flight.__state"></state-lane-flight-item>
          </v-flex>
        </v-layout>
      </draggable>
    </div>
    <div class="card-footer text-muted" style="background: #BBDEFB;">{{flightCount}}</div>
  </v-card>
</template>

<script>
import Draggable from "vuedraggable";
import StateLaneFlightItem from "./StateLaneFlightItem";

export default {
  name: "StateLane",
  props: {
    flights: Array,
    name: String,
    title: String,
    id: String
  },
  components: {
    StateLaneFlightItem,
    Draggable
  },
  computed: {
    sortedFlights() {
      let flights = JSON.parse(JSON.stringify(this.currentFlights));
      return flights.sort((a, b) => (a.takeofftime > b.takeofftime ? 1 : -1));
    },
    flightCount() {
      if (!this.currentFlights) return "";
      if (this.currentFlights.length === 1) return "1 flight";
      return `${this.currentFlights.length} טיסות`;
    }
  },
  data: function() {
    return {
      lastSelectedFlight: null,
      currentFlights: this.flights
    };
  },
  watch: {
    currentFlights: function(newFlights, oldFlights) {
      if (newFlights.length > oldFlights.length) {
        let newFlightsSet = new Set(newFlights);
        let oldFlightsSet = new Set(oldFlights);
        let difference = new Set(
          [...newFlightsSet].filter(x => !oldFlightsSet.has(x))
        );
        let newFlight = [...difference][0];
        this.$emit("flights-updated", { state: this.name, newFlight });
      } else {
        this.$emit("flight-drag-started", { state: this.name });
      }
    }
  }
};
</script>

<style>
.card-body > * {
  min-height: 50px;
}
</style>
