<template>
  <div class="card state-lane-flight-item">
    <div class="card-block">
      <h5 class="card-title">
        <!-- <span class="text-muted">#{{flight.__id}}</span> -->
        {{ _stringifyAircraft(flight.__glider) }}
      </h5>
      <div class="card-body">
        <ul class="flight-info">
          <li v-if="__state === 'tow'">
            <b>מטוס גורר:</b>
            {{ _stringifyAircraft(flight.__dragplane) }}
          </li>
          <li v-if="__state === 'tow'">
              <b>טייס גורר:</b>
            {{ _stringifyMember(flight.__dragpilot) }}
          </li>
          <li>
              <b>טייס 1:</b>
            {{ _stringifyMember(flight.__pilot1) }}
          </li>
          <li v-if="flight.__pilot2.firstname">
              <b>טייס 2:</b>
            {{ _stringifyMember(flight.__pilot2) }}
          </li>
          <li>{{ flightDurationStr }}</li>
        </ul>
      </div>
      <v-btn outline @click="goToEditFlight"><v-icon>edit</v-icon></v-btn>
    </div>
  </div>
</template>

<script>
    import {stringifyAircraft, stringifyMember} from '../common';

    export default {
  name: 'StateLaneFlightItem',
  props: ['flight', '__state'],
  methods: {
    _stringifyAircraft(object) {
      return stringifyAircraft(object);
    },
    _stringifyMember(object) {
      return stringifyMember(object);
    }, 
    goToEditFlight() {
      this.$router.push(`/flight/edit/${this.flight.__id}`)
    }
  },
  computed: {
    flightDurationStr() {
      let str = new Date(this.flight.takeofftime).toTimeString().split(' ')[0];
      if (this.flight.landtime)
        str += `-${
          new Date(this.flight.landtime).toTimeString().split(' ')[0]
        }`;
      else {
        str += '-?';
      }
      return str;
    }
  }
};
</script>

<style>
.card.state-lane-flight-item {
  background: #E3F2FD;
}

.card.state-lane-flight-item:hover {
  background: #BBDEFB;
  cursor: move;
}

.flight-info {
  padding: 0;
  list-style: none;
}
.card-body {
  padding: 5;
}
</style>
