<!DOCTYPE html>
<html lang="en">
<head>
    <script>window.__theme = 'bs4';</script>

    <meta charset="UTF-8">
    <title>Action Management</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- jquery ui -->
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/ongoing-flights.css" type="text/css">
    <link rel="stylesheet" href="/css/new-flight.css" type="text/css">
    <link rel="stylesheet" href="/css/authorizer.css" type="text/css">
    <link rel="stylesheet" href="/css/summary.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">

</head>
<body>

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        MGC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="goToDashboardButton" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="goToSummaryButton" href="#">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="goToAuthorizerButton" href="#">Authorizer</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <form method="post" action="/logout">
                    <button class="nav-link btn btn-link" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<input type="hidden" id="currentActionInput" value="">

<div id="wrapper">
    <div id="metaDiv">
        <h1 id="mainHeader"></h1>
        <p><strong>Logged In As:</strong> {{userRealName}}</p>
    </div>

    <div id="content">
        {{{body}}}
    </div>


    <footer class="footer shadow">
        <div class="container">
            <span class="text-muted">
                <a class="mailto" href="mailto:ohadch9518@gmail.com">&copy; Developed by Ohad Chaet</a>
            </span>
        </div>
    </footer>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<script src="/js/touch-punch.js"></script>
<script src="/js/dateformat.js"></script>
<script src="/js/general.js"></script>
<script src="/js/ongoing-flights.js"></script>
<script src="/js/new-flight.js"></script>
<script src="/js/authorizer.js"></script>
<script src="/js/summary.js"></script>
<script src="/js/routes.js"></script>
</body>
</html>