<!-- Create new flight dashboard -->
<form class="hidden" method="post" id="newFlightForm">
    <input type="hidden" class="new-flight-attr-input" data-val-str="" data-fk-model-name="FlightType" data-fk-name="flightType" id="flightTypeInput" name="FlightTypeIDSC" value="">
    <input type="hidden" class="new-flight-attr-input" data-val-str="" data-fk-model-name="Member" data-fk-name="pilot1" id="pilot1Input" name="Pilot1NameIDSC" value="">
    <input type="hidden" class="new-flight-attr-input" data-val-str="" data-fk-model-name="Member" data-fk-name="pilot2" id="pilot2Input" name="Pilot2NameIDSC" value="">
    <input type="hidden" class="new-flight-attr-input" data-val-str="" data-fk-model-name="Member" data-fk-name="dragPilot" id="dragPilotInput" name="DragPilotIDSC" value="">
    <input type="hidden" class="new-flight-attr-input" data-val-str="" data-fk-model-name="Aircraft" data-fk-name="dragPlane" id="dragPlaneInput" name="DragPlaneRadioCallIDSC" value="">
    <input type="hidden" class="new-flight-attr-input" data-val-str="" data-fk-model-name="Aircraft" data-fk-name="glider" id="gliderInput" name="RadioCallIDSC" value="">
</form>
<input type="hidden" id="newFlightDispatchTime" value="">
<div class="hidden" id="newFlightView">
    <div class="shadow" id="newFlightContainer">
        <div id="cancelNewFlightButtonDiv">
            <button id="goBackFromNewFlightButton" class="btn dashboard-btn btn-lg btn-info">
                <i class="fas fa-backward"></i>
            </button>
            <button id="cancelNewFlightButton" class="btn dashboard-btn btn-lg btn-danger">
                <i class="far fa-times-circle"></i>
            </button>
        </div>

        <div id="newFlightItems">
            <div id="newFlightUls" class="shadow-sm">
                <input type="text" id="newFlightSelectionItemsFilterInput" placeholder="Search...">
                <ul id="flightTypesUl" class="new-flight-items-selection-list"></ul>
                <ul id="pilot1sUl" class="hidden new-flight-items-selection-list"></ul>
                <ul id="pilot2sUl" class="hidden new-flight-items-selection-list"></ul>
                <ul id="glidersUl" class="hidden new-flight-items-selection-list"></ul>
                <ul id="dragPilotsUl" class="hidden new-flight-items-selection-list"></ul>
                <ul id="dragPlanesUl" class="hidden new-flight-items-selection-list"></ul>
            </div>
        </div>
        <div id="newFlightBox" class="shadow-sm">
            <ul id="newFlightCurrentValues">
                <h3 id="newFlightH"></h3>
                <li class="new-flight-input-view" data-fk-name-model="Aircraft" data-fk-name="glider" id="gliderInputView">
                    <div class="new-flight-input-header">Glider</div>
                    <div class="new-flight-input-view-value">Unassigned</div>
                </li>
                <li class="new-flight-input-view" data-fk-name-model="FlightType" data-fk-name="flightType" id="flightTypeInputView">
                    <div class="new-flight-input-header">Flight Type</div>
                    <div class="new-flight-input-view-value">Unassigned</div>
                </li>
                <li class="new-flight-input-view" data-fk-name-model="Member" data-fk-name="pilot1" id="pilot1InputView">
                    <div class="new-flight-input-header">Pilot 1</div>
                    <div class="new-flight-input-view-value">Unassigned</div>
                </li>
                <li class="new-flight-input-view" data-fk-name-model="Member" data-fk-name="pilot2" id="pilot2InputView">
                    <div class="new-flight-input-header">Pilot 2</div>
                    <div class="new-flight-input-view-value">Unassigned</div>
                </li>
                <li class="new-flight-input-view" data-fk-name-model="Aircraft" data-fk-name="dragPlane" id="dragPlaneInputView">
                    <div class="new-flight-input-header">Tow Airplane</div>
                    <div class="new-flight-input-view-value">Unassigned</div>
                </li>
                <li class="new-flight-input-view" data-fk-name-model="Member" data-fk-name="dragPilot" id="dragPilotInputView">
                    <div class="new-flight-input-header">Tow pilot</div>
                    <div class="new-flight-input-view-value">Unassigned</div>
                </li>
            </ul>
        </div>
        <div id="dispatchNewFlightButtonsDiv">
            <button id="forceSetTakeOffTimeButton" class="btn dashboard-btn btn-lg btn-success">
                <i class="fas fa-plane-departure"></i>
            </button>
            <button id="clearNewFlightTakeOffTimeButton" class="btn dashboard-btn btn-lg btn-info d-none">
                <i class="fas fa-undo-alt"></i>
            </button>
            <button id="dispatchNewFlightButton" class="btn dashboard-btn btn-lg btn-success">
                <i class="far fa-check-circle"></i>
            </button>
        </div>


    </div>
</div>

<!-- Dashboard -->
<div id="ongoingFlightsDiv" class="d-none">
    <div id="gliderFlights">
        <div class="row" id="newFlightButtonDiv">
            <button id="newFlightButton" class="btn dashboard-btn btn-lg btn-info">New Flight</button>
        </div>
        <div class="row">
            <div class="state-container col shadow-sm">
                <div class="state-header">
                    <h3>Tow</h3>
                </div>
                <ul id="towsList" class="state-list">
                </ul>
            </div>
            <div class="state-container col shadow-sm">
                <div class="state-header">
                    <h3>Ongoing</h3>
                </div>
                <ul id="flightsList" class="state-list">
                </ul>
            </div>
            <div class="state-container col shadow-sm">
                <div class="state-header">
                    <h3>Landed</h3>
                </div>
                <ul id="landingsList" class="state-list"></ul>
            </div>
        </div>
    </div>
    <div id="ongoingAuthorizedLandingsDiv" class="shadow-sm">
        <h3 id="ongoingAuthorizedFlightsH">Authorized</h3>
        <ul id="ongoingAuthorizedLandingsUl"></ul>
    </div>
</div>
<div id="flightView" class="d-none">
    <table class="table table-bordered" id="viewSingleFlightTable"></table>
</div>
<div class="modal fade" id="towTypeSelectionModal" tabindex="-1" role="dialog" aria-labelledby="towTypeSelectionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="towTypeModalFlightIdInput">
            <div class="modal-header">
                <h5 class="modal-title" id="towTypeSelectionModalLabel">Modal title</h5>
                <button type="button" id="closeTowTypesModalButton" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="towTypesUl">

                </ul>
            </div>
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

<!-- Authorizer -->
<div id="AuthorizerDiv" class="d-none">
    <div id="authorizeNewLandingDiv" class="authorizer-section d-none">
        <h3 id="authorizeLandingHeader"></h3>
        <div id="authorizeNewLandingFormDiv" class="shadow">
            <button id="cancelNewLandingButton" class="btn btn-danger btn-lg">
                <i class="far fa-times-circle"></i>
            </button>
            <form id="authorizeNewLandingForm">
                <div class="form-group row">
                    <label for="newLandingCallsignInput" class="col-2 col-form-label">Callsign</label>
                    <div class="col-10">
                        <input class="form-control new-landing-authorization-input" type="text" placeholder="Callsign..." name="callsign" id="newLandingCallsignInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newLandingAirplaneTypeInput" class="col-2 col-form-label">Airplane Type</label>
                    <div class="col-10">
                        <input class="form-control new-landing-authorization-input" type="text" placeholder="Airplane Type..." name="airplane_type" id="newLandingAirplaneTypeInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newLandingPilotFirstNameInput" class="col-2 col-form-label">First Name</label>
                    <div class="col-10">
                        <input class="form-control new-landing-authorization-input" type="text" placeholder="First Name..." name="pilot_first_name" id="newLandingPilotFirstNameInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newLandingPilotLastNameInput" class="col-2 col-form-label">Last Name</label>
                    <div class="col-10">
                        <input class="form-control new-landing-authorization-input" type="text" placeholder="Last Name..." name="pilot_last_name" id="newLandingPilotLastNameInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newLandingPilotPhoneNumberInput" class="col-2 col-form-label">Phone Number</label>
                    <div class="col-10">
                        <input class="form-control new-landing-authorization-input" type="tel" placeholder="Phone Number..." name="pilot_phone_number" id="newLandingPilotPhoneNumberInput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newLandingDateInput" class="col-2 col-form-label">Date</label>
                    <div class="col-10">
                        <input class="form-control new-landing-authorization-input" type="date" name="landing_date" id="newLandingDateInput">
                    </div>
                </div>
                <!--<div class="form-group row">-->
                    <!--<label for="newLandingAuthorizerInput" class="col-2 col-form-label">Authorizer</label>-->
                    <!--<div class="col-10">-->
                        <!--<input class="form-control new-landing-authorization-input" type="text" placeholder="Authorizer's Name..." name="authorizer_name" id="newLandingAuthorizerInput">-->
                    <!--</div>-->
                <!--</div>-->
            </form>
            <button id="authorizeNewLandingButton" class="btn btn-success btn-lg">
                <i class="far fa-check-circle"></i>
            </button>
        </div>
    </div>
    <div id="authorizedLandingsDiv" class="shadow authorizer-section">
        <button id="goToAuthorizeNewLandingButton" class="btn btn-info btn-lg">
            Authorize New Landing
        </button>
        <table id="authorizedLandingsTable" class="table table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Callsign</th>
                <th>Aircraft</th>
                <th>Pilot</th>
                <th>Phone Number</th>
                <th>Authorizer</th>
            </tr>
            </thead>
            <tbody id="landingsTableBody"></tbody>
        </table>
    </div>
</div>

<!-- Daily Summary -->
<div id="dailySummaryView" class="d-none">
    <h2>Specific Summary</h2>
    <div id="customDailySummaryDiv">
        <div id="customDailySummaryFilters">
            <div>
                <label for="customSummaryTypeSelect">Filter Type</label>
                <select id="customSummaryTypeSelect" class="form-control form-control-lg"></select>
            </div>
            <div>
                <label for="customSummaryValueSelect">Filter Value</label>
                <select id="customSummaryValueSelect" class="form-control form-control-lg"></select>
            </div>
        </div>
        <div id="customDailySummaryContent">
            <ul>
                <li class="summary-custom-stat">
                    <strong>Landed Flights:</strong>
                    <p id="landedFlightsSummaryVal"></p>
                </li>
                <li class="summary-custom-stat">
                    <strong>Total Flight Time (Of Landed Flights):</strong>
                    <p id="totalFlightTimeSummaryVal"></p>
                </li>
                <li class="summary-custom-stat">
                    <strong>Has Flight Ongoing:</strong>
                    <p id="hasFlightOngoingSummaryVal"></p>
                </li>
            </ul>
        </div>
    </div>
    <h2>Today's Flights</h2>
    <div>
        <input id="summaryTableFilterInput" class="form-control" placeholder="Search...">
        <table id="dailySummaryTable" class="table table-hover shadow">
            <thead>
            <tr>
                <th></th>
                <th>Callsign</th>
                <th>Glider Type</th>
                <th>Pilot 1</th>
                <th>Pilot 2</th>
                <th>Flight Type</th>
                <th>TakeOff Time</th>
                <th>Landing Time</th>
                <th>Duration</th>
                <th>Tow Airplane</th>
                <th>Tow Pilot</th>
                <th>Tow Height</th>
            </tr>
            </thead>
            <tbody id="dailySummaryTableBody"></tbody>
        </table>
    </div>

</div>
