<div id="header">
    <img id="logoImg" src="/img/logo.jpg">
    <h1>Megiddo Gliding Center</h1>
    <h3>Action Management Client</h3>
</div>

{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

<form id="loginForm" method="post" action="/login">
    <input class="input form-control" type="text" name="email" placeholder="Email...">
    <input class="input form-control" type="password" name="password" placeholder="Password...">
    <button type="submit" id="loginButton" class="btn btn-info btn-submit">
        Login
    </button>
</form>

<p>Need an account? <a href="/signup">Register</a></p>