<form id="signupForm" method="post" action="/signup">

    <div class="input-div form-group row">
        <label class="col-form-label" for="signup-first-name">First Name</label>
        <div class="row input-row">
            <input class="input form-control" id="signup-first-name" type="text" name="first_name" placeholder="First Name...">
        </div>
    </div>


    <div class="input-div form-group row">
        <label class="col-form-label" for="signup-last-name">Last Name</label>
        <div class="row input-row">
            <input class="input form-control" id="signup-last-name" type="text" name="last_name" placeholder="Last Name...">
        </div>
    </div>


    <div class="input-div form-group row">
        <label class="col-form-label" for="signup-email">Email</label>
        <div class="row input-row">
            <input class="input form-control" id="signup-email" type="text" name="email" placeholder="Email...">
        </div>
    </div>


    <div class="input-div form-group row">
        <label class="col-form-label" for="signup-password">Password</label>
        <div class="row input-row">
            <input class="input form-control" id="signup-password" type="password" name="password" placeholder="Password...">
        </div>
    </div>


    <div class="input-div form-group row">
        <label class="col-form-label" for="signup-confirm-password">Confirm Password</label>
        <div class="row input-row">
            <input class="input form-control" id="signup-confirm-password" type="password" name="confirm_password" placeholder="Confirm Password...">
        </div>
    </div>


    <button type="submit" id="signUpButton" class="btn btn-info btn-submit">
        Register
    </button>
</form>

<p>Already have an account? <a href="/login">Sign In</a></p>