body, html {
    background-color: #17A2B8;

}

#wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-grow: 10;
}

#formDiv {
    display: inline-block;
    padding: 50px;
    height: 70%;
    margin-top: 5%;
    /*padding-right: 100px;*/
    /*padding-left: 100px;*/
}

#formDiv form {
    width: 100%;
    padding-top: 20px;
}


.input {
    font-size: 1.25em;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#header {
    text-align: center;
    margin-bottom: 25px;
}

#logoImg {
    height: 75px;
    width: 75px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.btn-submit {
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
    font-size: 1.25em;
}

.input-div {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.input-div label {
    font-size: 1.3em;
    padding-top: 18px;
    margin-right: 10px;
}

#signUpButton {
    margin-bottom: 50px;
}


.footer span a {
    color: white !important;
}