#AuthorizerDiv {
}

.authorizer-section {
    margin: 5px;
}

#goToAuthorizeNewLandingButton {
    width: 100%;
}

#authorizeNewLandingFormDiv {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

#authorizeNewLandingForm {
    flex-grow: 2;
    padding-left: 10px;
    padding-right: 10px;
}

#authorizeNewLandingButton, #cancelNewLandingButton {
    width: 75px;
}

#authorizeLandingHeader {
    text-align: center;
}