#cancelNewFlightButtonDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#cancelNewFlightButtonDiv button {
    width: 120px;
    margin-right: 10px;
}

#cancelNewFlightButton {
    flex-grow: 1;
    margin-bottom: 0;
}

#goBackFromNewFlightButton {
    flex-grow: 1;
}

#dispatchNewFlightButtonsDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#dispatchNewFlightButtonsDiv button {
    width: 120px;
}

#dispatchNewFlightButton {
    flex-grow: 10;
    margin-bottom: 0;
}

#forceSetTakeOffTimeButton {
    flex-grow: 0;
}

#clearNewFlightTakeOffTimeButton {
    flex-grow: 0;
}

.selection-item {
    padding: 5px;
    margin: 5px;
    font-size: 1.25em;
    text-align: center;
    background-color: white;
    height: 100px;
    width: 43%;
}

.selection-item:hover {
    background-color: paleturquoise;
}

#newFlightView {
    height: 70vh;
}

#newFlightContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

#newFlightUls {
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: #E2F1EC;
}

.new-flight-items-selection-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
    padding: 0;
    height: 95%;
    text-align: center;
}

#newFlightBox{
    flex-grow: 2;
    margin-left: 5px;
    margin-right: 10px;
    padding: 10px;
}

#newFlightItems {
    flex-grow: 1;
}

#newFlightCurrentValues {
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-flight-input-view {
    text-align: center;
    padding: 5px;
    margin: 5px;
    height: 70px;
    width: 100%;
    display: flex;
}

.new-flight-input-view-value {
    margin-left: 5px;
    background-color: white;
    border: 3px dashed lightgrey;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    margin-right: 10px;
}

.new-flight-input-view-value:hover{
    background-color: #E2F1EC;
}

.new-flight-input-view-assigned {
    border: none;
    background-color: #17A2B8;
    color: white;
}

.new-flight-input-view-assigned:hover{
    background-color: red !important;
}

.new-flight-input-header {
    padding-top: 15px;
    width: 150px;
}

#newFlightH {
    text-align: center;
    margin-top: 10px;
    margin-left: 120px;
}

#newFlightSelectionItemsFilterInput {
    width: 100%;
    font-size: 1.5em;
}