body {

}

.dashboard-btn {
    height: 50px;
    margin-bottom: 5px;
    width: 100%;
}

#newFlightButtonDiv {
    padding-right: 10px;
}

.state-list {
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;

}

.flight-item {
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
    text-align: left;
}

.state-container {
    margin-right: 10px;
    text-align: center;
    background-color: #E2F1EC;
}

.state-header {
    color: black;
}


#newFlightArea {
    width: 100%;
    display: flex;
}

#ongoingFlightsDiv {
    display: flex;
    justify-content: space-between;
    /*height: 80vh;*/
}

#gliderFlights {
    flex-grow: 2;
    height: 100%;
}

#ongoingAuthorizedLandingsDiv {
    margin-left: 20px;
    flex-grow: 1;
    height: 100%;
}

#ongoingAuthorizedLandingsDiv {
    text-align: center;
    background-color: #E2F1EC;
}

#ongoingAuthorizedLandingsUl {
    margin-top: 13.8px;
    list-style: none;
    padding: 0;
}

#ongoingAuthorizedLandingsUl li {
    background-color: #17A2B8;
    color: white;
    margin: 5px;
    height: 50px;
    font-size: 1.3em;
}

#ongoingAuthorizedLandingsUl li:hover {
    opacity: 0.7;
}

#ongoingAuthorizedFlightsH {
    padding-top: 8px;
}

.authorized-landing-landed {
    text-decoration: line-through;
    opacity: 0.2;
}

.flight-item .card .card-body:hover {
    background-color: #17A2B8;
}

#towTypesUl {
    list-style: none;
    text-align: center;
    padding: 0;
}

#towTypesUl li {
    width: 100%;
    margin: 5px;
    padding-right: 5px;
}

#towTypesUl li button {
    width: 100%;
}

/*
Colors:
bootstrap-primary: #007BFF
bootstrap-info: #17A2B8
nice light blue 1: #3EB8E9
nice light blue 2: #97D1F6
light blue-green: #E2F1EC
 */