body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#metaDiv {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

#content {
    margin-top: 10px;
    padding: 25px;
    flex-grow: 8;
    min-height: 80vh;
}

* {
    border-radius: 0 !important;
}

#navbar {
    background-color: #17A2B8;
}

#mainHeader {
    text-align: center;
    padding-top: 25px;
    flex-grow: 1;
}



#wrapper{
    display: flex;
    flex-direction: column;
}

#customDailySummaryFilters {
    display: flex;
    flex-direction: column;
}

#customDailySummaryFilters div {
    display: flex;
}