#summaryTableFilterInput {
    font-size: 1.5em;
}

#dailySummaryTable thead {
    background-color: #17A2B8;
    color: white;
}

#customDailySummaryDiv {
    display: flex;
}

.summary-custom-stat {
    display: flex;
}

.summary-custom-stat p {
    margin-left: 5px;
}