<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex>
            <v-progress-circular :size="70" :width="7" color="purple" indeterminate v-if="isLoading"></v-progress-circular>
            <div v-else>
            <v-card-title>
              <v-text-field
                v-model="search"
                append-icon="search"
                label="חפש..."
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table :headers="headers" :items="flights" :search="search">
              <template v-slot:items="props">
                <!-- <td>{{ props.item.__id }}</td> -->
                <td>{{ props.item.__glider.radiocall }}</td>
                <td>{{ props.item.__pilot1.__str }}</td>
                <td>{{ props.item.__pilot2.__str }}</td>
                <td>{{ new Date(props.item.takeofftime).toLocaleString() }}</td>
                <td>{{ props.item.landtime ? new Date(props.item.landtime).toLocaleString() : '' }}</td>
                <td>{{ props.item.__flighttype.flighttype }}</td>
                <td>{{ props.item.__dragtype.towingtype }}</td>
                <td>{{ props.item.__dragplane.radiocall }}</td>
                <td>{{ props.item.__dragpilot.__str }}</td>
              </template>
              <template v-slot:no-results>
                <v-alert
                  :value="true"
                  color="error"
                  icon="warning"
                >לחיפוש "{{ search }}" לא נמצאו תוצאות.</v-alert>
              </template>
            </v-data-table>
            </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
    import fetchFlights from "../../api/fetch-flights";

    export default {
  name: "Summary",
  data() {
    return {
      isLoading: false,
      search: "",
      headers: [
        // { text: "ID", value: "__id" },
        { text: "דאון", value: "__glider.radiocall" },
        { text: "טייס 1", value: "__pilot1.__str" },
        { text: "טייס 2", value: "__pilot2.__str" },
        { text: "זמן ההמראה", value: "takeofftime" },
        { text: "זמן הנחיתה", value: "landtime" },
        { text: "סוג הטיסה", value: "__flighttype.flighttype" },
        { text: "סוג הגרירה", value: "__dragtype.towingtype" },
        { text: "מטוס גורר", value: "__dragplane.radiocall" },
        { text: "טייס גורר", value: "__dragpilot.__str" }
      ],
      flights: []
    };
  },
  async mounted() {
    this.isLoading = true;
      let flights = await fetchFlights(this.$store.getters.action.__id);
    this.flights = flights;
    this.isLoading = false;
  }
};
</script>

