<template>
  <v-app>
    <div id="app">
      <div class="page-header">
        <h1>מרכז הדאיה מגידו - מערכת ניהול פעולה</h1>
        <h2 v-if="$store.getters.action">
          {{ actionDate }}
          <v-btn @click="$store.dispatch('exitAction')" outline>
            <v-icon>close</v-icon>
          </v-btn>
        </h2>
      </div>

      <div v-if="$store.getters.action">
        <menu-bar></menu-bar>
        <v-card>
          <router-view />
        </v-card>
      </div>
      <div v-else>
        <action-picker></action-picker>
      </div>
    </div>
  </v-app>
</template>

<script>
import MenuBar from "@/components/MenuBar";
import ActionPicker from "./views/ActionPicker";
import moment from "moment";

export default {
  name: "app",
  components: {
    "menu-bar": MenuBar,
    ActionPicker
  },
  created() {
    this.$vuetify.rtl = true;
  },
  computed: {
    actionDate() {
      let { actiondate } = this.$store.getters.action;
      return moment(new Date(actiondate)).format("YYYY-MM-DD");
    }
  }
};
</script>

<style>
#app {
  text-align: center;
}

.page-header h1 {
  font-weight: 300;
}

.card {
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 25px;
}

.card-block {
  padding: 15px;
}
</style>
