<template>
    <v-container>
        <v-card>
            <v-toolbar color="light-blue" dark>
                <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
                <v-toolbar-title>{{ title }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <!-- <v-btn icon>
                      <v-icon>search</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>view_module</v-icon>
                </v-btn>-->
            </v-toolbar>
            <v-list subheader two-line>
                <v-list-tile :key="item.id" @click="selectItem(item)" v-for="item in items">
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action v-if="!noDelete">
                        <v-btn @click.stop="deleteItem(item)" color="error" icon ripple>
                            <v-icon color="grey lighten-1">delete</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                    <v-list-tile-action v-if="item.star">
                        <v-icon color="grey lighten-1">stars</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
        </v-card>
    </v-container>
</template>

<script>
    export default {
        name: "ItemsList",
        props: {
            title: String,
            items: Array,
            noDelete: Boolean
        },
        methods: {
            selectItem(item) {
                this.$emit("item-selected", {item});
            },
            deleteItem(item) {
                this.$emit("delete-item", {item});
            }
        }
    };
</script>
