<template>
  <v-container justify-center>
    <v-layout row justify-center>
      <v-flex xs6>
        <v-text-field
          outline
          name="input-7-1"
          label="כתוב את הערתך כאן..."
          v-model="text"
          hint="היה ברור ככל האפשר!"
        ></v-text-field>
      </v-flex>
      <v-flex xs2>
        <v-btn large color="success" @click="addNote">הוסף הערה</v-btn>
      </v-flex>
    </v-layout>
    <v-layout v-if="notes.length" justify-center>
      <v-flex xs8 style="margin-left: -20px; padding-right: 50px;">
        <v-list two-line>
          <template v-for="(item, index) in notes">
            <v-list-tile :key="item.title">
              <v-list-tile-action>
                <!-- <v-btn flat icon color="red lighten-2" style="margin-top: 19px; margin-left: 1px;">
                  <v-icon>delete</v-icon>
                </v-btn> -->
              </v-list-tile-action>
              <v-list-tile-content>
                  <v-list-tile-title v-html="item.content"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.created"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider :key="index" :inset="item.inset"></v-divider>
          </template>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
    import addActionNote from "../../api/add-action-note"
    import fetchActionNotes from "../../api/fetch-action-notes"

    export default {
  name: "Notes",
  data() {
    return {
      text: "",
      notes: [],
      currNoteId: 0
    };
  },
        async mounted() {
            await this.refreshNotes()
        },
  methods: {
      async refreshNotes() {
          this.notes = await fetchActionNotes(this.$store.getters.action.__id)
      },
      async addNote() {
      if (this.text) {
          await addActionNote(this.$store.getters.action.__id, this.text);
          await this.refreshNotes();
        this.text = "";
      }
    }
  },
        // computed: {
        //   parsedNotes() {
        //     let notes = [];
        //     for (let note of notes) {
        //       notes.push({
        //         divider: true,
        //         inset: true,
        //         header: "note header",
        //         text: this.text,
        //         created: new Date()
        //       });
        //     }
        //     return notes;
        //   }
        // }
};
</script>

