<template>
    <div>
        <selectable-list
                :items="sortedActions"
                :noDelete="true"
                @item-selected="handleActionSelected"
                title="רשימת הפעולות"
        ></selectable-list>
    </div>
</template>

<script>
    /* eslint-disable */

    import getAction from "../api/get-action";
    import listActions from "../api/list-actions";
    import SelectableList from "../components/common/SelectableList";
    import moment from "moment";

    function parseAction(date) {
        return {
            name: moment(date).format("YYYY-MM-DD"),
            date,
            star: isToday(date)
        };
    }

    async function getActions(actions) {
        let todayExists = false;

        actions = actions.map(action => {
            let date = new Date(action.actiondate);

            // Mark today
            if (isToday(date)) {
                todayExists = true;
            }

            return parseAction(date);
        });

        // Create action for today
        if (!todayExists) {
            let date = new Date();
            actions.push(parseAction(date));
        }

        return actions;
    }

    const isToday = someDate => {
        const today = new Date();
        return (
            someDate.getDate() == today.getDate() &&
            someDate.getMonth() == today.getMonth() &&
            someDate.getFullYear() == today.getFullYear()
        );
    };

    export default {
        name: "ActionPicker",
        components: {
            SelectableList
        },
        data() {
            return {
                actions: []
            };
        },
        async mounted() {
            let actions = await listActions();
            this.actions = await getActions(actions);
        },
        computed: {
            sortedActions() {
                return this.actions.sort((a, b) => a.date > b.date ? -1 : 1);
            }
        },
        methods: {
            async handleActionSelected({item}) {
                let action = await getAction(moment(item.date).add('days', 1).toDate());
                this.$store.dispatch("setAction", action);
            }
        },
    };
</script>
